.hot-radio-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  .item {
    width: calc(100% / 3 - 20px);
    margin: 20px 20px 20px 0;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    transition: all 0.5s;
    .img {
      width: 100px;
      height: 100px;
      overflow: hidden;
      border-radius: 8px;
      box-shadow: 0 20px 27px rgba(0, 0, 0, 0.2);
      border-radius: 8px;
      margin-right: 10px;
      .el-image {
        width: 100px;
        height: 100px;
        border-radius: 8px;
        .el-image__inner {
          border-radius: 8px;
        }
      }
    }
    .text {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .title {
        font-size: 24px;
        font-weight: 600;
        overflow: hidden;
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }
      .content {
        overflow: hidden;
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }
      .content,
      .bottom {
        font-size: 12px;
        color: #909090;
      }
      .periods {
        padding-right: 10px;
      }
    }
    &:hover {
      transform: translateY(-3px);
    }
  }
}
