.hot-list {
  // background-color: #fafafa;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .item {
    width: calc(100% / 5 - 20px);
    margin: 20px 20px 20px 0;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      transform: translateY(-3px);

      .img {
        .play {
          opacity: 1;
          transform: translate(-50%, -50%) scale(2);
        }
      }
    }

    .img {
      width: 100%;
      overflow: hidden;
      border-radius: 8px;
      position: relative;

      .play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.5);
        opacity: 0;
        transition: all 0.5s;
      }

      .el-image {
        border-radius: 8px;

        .el-image__inner {
          border-radius: 8px;
        }
      }
    }

    .ske-img {
      height: 17vh;
    }

    .image-slot {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background: #e6e8eb;
      color: var(--el-text-color-secondary);
      font-size: 30px;
    }

    .text {
      margin-top: 15px;
      overflow: hidden;
      display: -webkit-box;
      text-overflow: ellipsis;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }

    .tag,
    .play-count {
      color: #909090;
      font-size: 12px;
      margin-top: 10px;
    }

    .play-count {
      display: block;
      display: flex;
      align-items: center;
    }
  }
}
