.new-disc {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    justify-content: space-between;
    .item {
      width: calc(100% / 6 - 20px);
      margin: 20px 20px 20px 0;
      // display: flex;
      box-sizing: border-box;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      .img {
        width: 100%;
        overflow: hidden;
        border-radius: 8px;
        transition: all 0.5s;
        .el-image {
          border-radius: 8px;
          .el-image__inner {
            border-radius: 8px;
          }
        }
      }
  
      .image-slot {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background: #e6e8eb;
        color: var(--el-text-color-secondary);
        font-size: 30px;
      }
  
      .ske-img {
        height: 17vh;
      }
      .text {
        margin-top: 15px;
        .name {
          overflow: hidden;
          display: -webkit-box;
          text-overflow: ellipsis;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          margin-bottom: 10px;
        }
        .singer {
          font-size: 12px;
          color: #909090;
        }
      }
      &:hover {
        .img {
          transform: scale(1.1);
        }
      }
      .tag {
        position: absolute;
        top: 5px;
        right: -30px;
        width: 100px;
        line-height: 24px;
        font-size: 12px;
        transform: rotate(45deg);
        text-align: center;
        color: #fff;
        background-color: orange;
      }
    }
  }