.common-layout {
  .container {
    height: calc(100vh - 60px);
    .main {
      margin-top: 80px;
      transform: translateY(-80px);
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
